<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Cat Facts</title>
    <!-- Bootstrap Link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container text-center my-5">
      <h1>Random Cat Fact</h1>
      <h2 class="alert alert-success my-5">{{ text }}</h2>

      <a href="{% url 'random' %} " class="btn btn-success">Another Cat Fact</a>
      <br />
      <br />
      <a href="{% url 'viewall' %} " class="btn btn-warning">Show all Facts</a>
    </div>
  </body>
</html>
